body {
	margin: 0;
	padding: 0;
	background: #191949;
	background-repeat: no-repeat;
	display: flex;
	font-family: am;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.kotak {
	width: 250px;
	height: 350px;
	padding: 0;
	text-align: center;
	background: #eee;
	border-radius: 10px;
	box-shadow: 0 0 50px 10px violet;
}
.kotak h1 {
	color: blueviolet;
	font-size: 30px;
	text-shadow: 3px 3px 3px black;
	letter-spacing: 2px;
	margin: 1px;
}
.kotak img {
	width: 120px;
	height: 120px;
	margin-top: 45px;
	border-radius: 50%;
	box-shadow: 3px 3px 10px black;
}
@font-face {
	font-family: am;
	src: url(Amaranth-BoldItalic.otf);
}